
.topTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.crossed {
  text-decoration: line-through 4px grey;
}

.image-container {
  text-align: center;
}

.batman-image {
  width: 150px;
  border-radius: 50%;
  border: 3px solid gray;
  margin-top: 20px;
  display: inline-block;
}

.card {
  background-color: rgba(42, 42, 75, 0.801);
  color: gold;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid rgb(113, 115, 189);
}


.card h2 {
  font-size: 25px;
  color: rgb(95, 95, 149);
  text-align: center;
  margin-bottom: 0.2cm;
}

.card-line {
  border: 1px solid rgb(95, 95, 149);
  margin-bottom: 30px;
  margin-top: 0px;

}

.progress-bar {
  margin-bottom: 10px;
}

.progress {
  height: 30px;
  background-color: #c0a012;
  border-radius: 15px;
}

.progress-bar {
  background-color: rgb(233, 241, 9);
  text-align: right;
  line-height: 30px;
  border-radius: 15px;
  color: black;
  padding-right: 5px;
}

.progress-bar-section {
  text-align: center;
  max-width: 350px;
  margin: auto;
}

.progress-bar-section strong {
  display: block;
  color: rgba(255, 217, 0, 0.492);
  padding: 15px;
  
}

.general-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}