
.table th {
    background-color: rgb(87, 181, 87);
    text-align: center;
    border: 2px solid black;
    border-spacing: 0px;
  }

  .table td {
    background-color:pink;
    text-align: center;
    border: 2px solid black;
    border-spacing: 0px;
    vertical-align: text-bottom;
  }